body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    background-size: cover;
}

.auth-container {
    background-color: white;
    padding: 3em;
    border-radius: 12px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 1.5em;
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1.2em;
    text-align: left;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #333;
}

input {
    width: 100%;
    padding: 0.8em;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1em;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #ff8a00;
    outline: none;
}

button {
    width: 100%;
    padding: 1em;
    background-color: #ff8a00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

button:hover {
    background-color: #e52e71;
}

p {
    font-size: 0.9em;
}

a {
    color: #e52e71;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.hidden {
    display: none;
}
