.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
}

h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}
